/*

#DE277A - Pink
#000 - Black
#32189D - Dark blue
#238BEC - Light Blue

*/


/* ======== Index Page =======*/

body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

nav{
	background-color: #00316b;
	margin: 0;
	text-align: right;
}

nav h1{
	margin: 0;
	color: #fff;
	text-align: left;
	position: absolute;
	top: 20px;
	left: 70px;
}

nav label{
	font-size: 32px;
	padding: 10px 12px 10px 0;
	display: none;
	color: #fff;
}

ul{
	width: 60%;
	margin: 0 auto;
	padding: 0;
}

ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;
}

ul li:hover{
	background-color: #e91e63;
}

ul li a{
	color: #fff;
	text-decoration: none;
}

ul li:hover a{
	color: #000;
}

@media (max-width: 500px){

	nav label{
		display: block;
		cursor: pointer;
	}

	nav label:hover + ul{
		display: block;
	}

	ul{
		width: 100%;
		display: none;
	}

	ul li{
		display: block;
		text-align: center;
	}

	nav h1{
		left: 20px;
	}
}

.slider{
	background-color: grey;
	width: 100%;
	min-height: 366px;
	margin: 0;
}

.slider div{
	padding: 30px;
}

.slider p{
	margin: 0;
}

.about{
	/*padding: 30px;*/
	text-align: center;
}

.about h1{
	font-size: 35px;
}

.footer{
	background-color: grey;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*==== end of index page =====*/


/*Authentication forms */

.auth_body{
	background-color: #DE277A;
	min-height: 100%;
	/*border: 2px solid black;*/
	padding: 10px;
}

.auth_form{
	position: relative;
	width: 31%;
	height: 100%;
	background-color: grey;
	left: 34%;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 88px;
}

.auth_header h1{
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}

.form_input{
	margin: 20px 30px 5px 5px;
}

.form_input p{
	text-align: left;
}

.form_input input[type="text"], input[type="password"], input[type="email"]{
	transition:0.5s all;
	background-color: transparent;
	outline: none;
	border: 2px solid #fff;
	padding: 7px 12px;
	width: 70%;
	color: #fff;
}

.form_input input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus{
	width: 100%;
	transition: 2s all;
}

.form_input input[type="submit"]{
	transition:0.5s all;
	background-color: #238BEC;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 78%;
	font-size: 15px;
	color: #000;
	border-radius: 3px;
}

.form_input input[type="submit"]:hover{
	background-color: #00316b;
	color: #fff;
}

/*=== end of authentication ====*/


/*===Daily menu =====*/

.menu_header{
	margin: 20px;
	text-align: center;
}

.menu_body{
	margin: 25px 30px;
	padding-left: 20px;
}

.menu_row{
	width: 100%;
	margin: 0 0 20px 0;
}

.menu_row article{
	width: 23%;
	display: inline-block;
	margin: 10px;
}

.menu_row article img{
	border-radius: 3px;
	height: 200px;
}

.menu_row article input[type="submit"]{
	transition:0.5s all;
	background-color: #00316b;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 45%;
	font-size: 15px;
	color: #fff;
	border-radius: 3px;
}

.menu_row article input[type="submit"]:hover{
	background-color: #e91e63;
	color: #000;
}

.menu_row input[type="number"]{
    color: #000;
    outline: none;
    font-size: 0.9em;
    line-height: 25px;
    padding: 3px 10px;
    border: 1px solid #000;
    margin-bottom: 1em;  
}

.add_to_menu{
	margin-top: 20px;
}

.menu_row .add_to_menu input[type="submit"]{
	transition:0.5s all;
	background-color: #238BEC;
	outline: none;
	border: none;
	padding: 7px 12px;
	width: 92%;
	font-size: 15px;
	color: #000;
	border-radius: 3px;
}

.menu_row .add_to_menu input[type="submit"]:hover{
	background-color: #00316b;
	color: #fff;
}


/*=== end of user menu ===*/


/* ==== Caterer's Meal option management ====*/

.meal_body{
	background-color: #fff;
	min-height: 100%;
	/*border: 2px solid black;*/
	padding: 10px;
	color: #fff;
}

.meal_form{
	position: relative;
	width: 31%;
	height: 100%;
	background-color: brown;
	left: 34%;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 58px;
}

.meal_header h1{
	color: #000;
	text-align: center;
	text-transform: uppercase;
	font-size: 40px;
}


/* ==== end of meal management ====*/

/* ==== Orders page ====*/

.orders{
	height: 100%;
	border: 2px solid red;
	padding: 20px;
	margin-bottom: 40px;
}

.order_table{
	text-align: center;
	width: 45%;
	position: relative;
	height: 100%;
	padding: 20px;
	background-color: brown;
	left: 23%;
	color: #fff;
}

.order_table h1{
	font-size: 35px;
}

.order_table table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}

.order_table th, td {
    padding: 12px 7px;
}

